<footer class="site-footer">
	<div class="pull-center">
		<span class="contact-links">
			<a id="email-link" href=""><i class="fa fa-envelope fa-fw fa-lg"></i></a>
			<a href="https://www.facebook.com/FtcTeam6806"><i class="fa fa-facebook fa-fw fa-lg"></i></a>
			<a href="https://www.youtube.com/user/Team6806"><i class="fa fa-youtube fa-fw fa-lg"></i></a>
			<a href="https://github.com/FTC-6806"><i class="fa fa-github fa-fw fa-lg"></i></a>
			<span style="display:none;" id="email">moc.liamg@6086maet</span>
		</span>

		<script>
		var email = document.getElementById('email');
		var emailLink = document.getElementById('email-link');
		emailLink.setAttribute('href', 'mailto:' + (email.innerHTML).split('').reverse().join(''));
		</script>
		<span class="credits"> | All content © 2015 Ratchet Robotics <i>unless otherwise specified</i>.</span>
	</div>
</footer>
